@import '../../../styles/variables.scss';

.form-container {
  width: 31.25rem;
  background: $white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: $neutral-900;
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #BDBDBD;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #000;
  }
}

.form-button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  background-color: $baseBlack;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $neutral-900;
  }
}